*{
    margin: 0;
    padding: 0;
}

.app{
    background-color: rgb(176, 250, 226);
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}